<div class="w-full bg-black lg:my-[40px] my-[20px] lg:py-[60px] py-[30px]">
    <div class="mx-auto max-w-[1400px] w-full px-4 lg:px-20 py-4 lg:py-6">
        <div class="w-full flex justify-center">
            <h1 class="text-white lg:text-[48px] text-[24px] lg:leading-[55px] leading-[30px]">My <span class="font-extrabold">Experience</span></h1>
        </div>
        
        <div class="flex flex-col gap-[32px] lg:mt-[60px] mt-[40px]">

            <div class="flex flex-col gap-7 lg:px-6 px-5 lg:py-8 py-7 border border-zinc-500 rounded-[6px]" *ngFor="let item of experiences">
                <div class="flex items-start flex-wrap sm:justify-between gap-x-[12px] gap-y-[8px] ">
                    <span class="flex items-center gap-[16px]">
                        <img [src]="item.pathToCompanyLogo" alt="" class="w-[24px] h-[24px]">
                        <h3 class="text-white font-medium tracking-wide lg:text-18 text-16 lg:leading-[26px] leading-6 flex flex-wrap items-start gap-[4px] text-wrap">{{item.designation}} at 
                            <a [href]="item.companyLinkedinURL" target="_blank">{{item.companyName}}
                                <span class="material-symbols-outlined text-[14px]">open_in_new</span>
                            </a>
                        </h3>
                    </span>

                    <h4 class="text-slate-300 font-medium tracking-wide text-14 leading-[22px]">{{convertToDateObj(item.startDate) | date:'MMM yyyy'}} - {{item.isWorking ? 'Present' : convertToDateObj(item.endDate)}}</h4>
                </div>

                <div>
                    <ul class="pl-5 text-zinc-300">
                        <li *ngFor="let point of getDescriptionPoints(item.desription)"
                            class="text-14 leading-[22px] tracking-wide mb-2 flex">
                            <span class="inline-block mr-2 text-zinc-300">•</span>
                            <span>{{point}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

