<div class="max-w-screen w-full bg-black">
    <div class="relative mx-auto max-w-[1400px] w-full lg:px-[80px] px-[16px] lg:py-[24px] py-[16px]">
        <div class="lg:px-[32px] px-0 flex justify-between items-center w-full relative">
            <button class="flex items-center gap-2 z-[5] text-white">
                <span
                    class="material-symbols-outlined md:text-20 text-18 md:leading-[24px] leading-[20px] font-[500]">data_object</span>
                <h1 class="md:text-16 text-14 font-[800] md:leading-[20px] leading-[18px] tracking-wider" id="nandhu-text">
                    NANDHU</h1>
            </button>
            
            <div class="flex items-center gap-2 text-white">
                <div class="flex items-center">
                    <img src="assets/cookiesIcon.png" alt="Cookie" class="cookie-jump-animation">
                    <p class="lg:text-12 text-8 lg:leading-[18px] leading-[14px] text-wrap" id="free-cookies-text">Free cookies if
                        you
                        hire me. Maybe.</p>
                </div>
            </div>
        </div>
        
    </div>
    
</div>