<div class="max-w-screen w-full bg-black">
    <div class="relative mx-auto max-w-[1400px] w-full lg:px-[80px] px-[16px] lg:py-[24px] py-[16px]">
        <div class="lg:px-[32px] px-0 flex justify-between items-center w-full">
            <button class="flex gap-1 items-start z-[5] text-white">
                <span class="material-symbols-outlined md:text-22 text-18 md:leading-[24px] leading-[20px] font-[600]">developer_mode_tv</span>
                <h1 class="md:text-18 text-14 font-[800] md:leading-[24px] leading-[20px]">NANDHU</h1>
            </button>

            <p class="text-white lg:text-12 text-8 lg:leading-[18px] leading-[14px] text-wrap">Free cookies if you hire me. Maybe.</p>
        </div>
        
    </div>
    
</div>
