<div class="mx-auto max-w-[1440px] w-full lg:my-9 my-4 px-4 lg:px-20 py-4 lg:py-6 flex flex-col lg:gap-[60px] gap-[40px]">
    <div class="w-full flex justify-center">
        <h1 class="lg:text-[48px] text-[24px] lg:leading-[55px] leading-[30px]">My <span class="font-[800]">Skills</span></h1>
    </div>

    <div class="flex flex-wrap lg:justify-between justify-center flex-1 md:gap-[30px] gap-[14px] w-full">
        
        <div class="tech-card flex flex-col items-center justify-center gap-[14px] border-2 border-[#000] rounded-[5px] md:w-[186px] md:h-[186px] w-[150px] h-[150px]">
            <i class="devicon-javascript-plain text-[50px]"></i>
            <p class="text-[12px] font-[500] font-roboto">JavaScript</p>
        </div>

        <div class="tech-card flex flex-col items-center justify-center gap-[14px] border-2 border-[#000] rounded-[5px] md:w-[186px] md:h-[186px] w-[150px] h-[150px]">
            <i class="devicon-typescript-plain text-[50px]"></i>
            <p class="text-[12px] font-[500] font-roboto">TypeScript</p>
        </div>

        <div class="tech-card flex flex-col items-center justify-center gap-[14px] border-2 border-[#000] rounded-[5px] md:w-[186px] md:h-[186px] w-[150px] h-[150px]">
            <i class="devicon-angularjs-plain text-[50px]"></i>
            <p class="text-[12px] font-[500] font-roboto">Angular Js</p>
        </div>

        <div class="tech-card flex flex-col items-center justify-center gap-[14px] border-2 border-[#000] rounded-[5px] md:w-[186px] md:h-[186px] w-[150px] h-[150px]">
            <i class="devicon-react-original text-[50px]"></i>
            <p class="text-[12px] font-[500] font-roboto">React Js</p>
        </div>

        <div class="tech-card flex flex-col items-center justify-center gap-[14px] border-2 border-[#000] rounded-[5px] md:w-[186px] md:h-[186px] w-[150px] h-[150px]">
            <i class="devicon-git-plain text-[50px]"></i>
            <p class="text-[12px] font-[500] font-roboto">Git</p>
        </div>

        <div class="tech-card flex flex-col items-center justify-center gap-[14px] border-2 border-[#000] rounded-[5px] md:w-[186px] md:h-[186px] w-[150px] h-[150px]">
            <i class="devicon-python-plain text-[50px]"></i>
            <p class="text-[12px] font-[500] font-roboto">Python</p>
        </div>        
    </div>
</div>