.mobileDrawer {
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

.active {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, #000 0%, rgba(34, 197, 143, 0.10) 100%);
    border-image-slice: 1;
    width:100%;
    animation: 300ms forwards;
}

.mobile-nav-bg {
    background: rgba(10, 10, 11, 0.55);
    backdrop-filter: blur(2.5px);
}